@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

.helper {
    border: 1px solid rgba(0, 0, 0, 0.267);
}

body {
    font-family: "Oxanium", sans-serif;
}

header {
    width: 90vw;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

header h1 {
    font-size: 42px;
}

main {
    display: flex;
    width: 50vw;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px 0;
    justify-content: center;
}

section form {
    text-align: center;
}

#busca {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-top: 20px;
}

#busca div {
    margin-top: 30px;
}

#map {
    margin: 0 auto;
    margin-top: 30px;
    height: 300px;
    width: 800px;
}

.sintomas {
    margin-right: 20px;
}

.sintoma {
    margin-bottom: 10px;
}

.sintomas select, #cep {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
}

#cep {
    width: 100px;
}

.sintomas button, #button-cep {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 13px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#gerarDiagnostico {
    margin-top: 10px;
}

.sintomas button:hover {
    background-color: #303030;
}

.diagnostico p {
    margin: 0;
}

footer {
    width: 90vw;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
