@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body {
    font-family: "Oxanium", sans-serif;
}

header {
    width: 90vw;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto;
    margin-top: 40px;
}

main {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px 0;
}

footer {
    width: 90vw;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
