<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnóstico Online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<body>
    <header>
        <h1>Diagnóstico Online 🤖</h1>
    </header>
    <main>
        <section class="sintomas">
            <form action="/llm" method="POST">
                <div class="sintoma">
                    <label for="sintoma1">Sintoma 1:</label>
                    <select id="sintoma1" name="sintoma1">
                        <option value="">Selecione</option>
                        <option value="tosse">Tosse</option>
                        <option value="febre">Febre</option>
                        <option value="dorDeCabeca">Dor de Cabeça</option>
                    </select>
                </div>
                <div class="sintoma">
                    <label for="sintoma2">Sintoma 2:</label>
                    <select id="sintoma2" name="sintoma2">
                        <option value="">Selecione</option>
                        <option value="cansaco">Cansaço</option>
                        <option value="dorMuscular">Dor Muscular</option>
                        <option value="calafrios">Calafrios</option>
                    </select>
                </div>
                <div class="sintoma">
                    <label for="sintoma3">Sintoma 3:</label>
                    <select id="sintoma3" name="sintoma3">
                        <option value="">Selecione</option>
                        <option value="sudorese">Sudorese</option>
                        <option value="nausea">Náusea</option>
                        <option value="dorGarganta">Dor de Garganta</option>
                    </select>
                </div>
                <button id="gerarDiagnostico">Gerar Diagnóstico</button>
            </form>
        </section>
        <section class="diagnostico">
            {% if diagnostico and remedio%}
                <p>Doença diagnosticada: {{ diagnostico }}</p>
                <p>Remédio recomendado: {{ remedio }}</p>
            {% else %}
                <p>Esperando pela entrada dos sintomas...</p>
            {% endif %}
        </section>
    </main>
    <div id="map"></div>
    <footer>
        <p>&copy; 6HC1 Industries</p>
    </footer>
    <script src="{{ url_for('static', filename='mapScript.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
